/.vscode
model/datasets/
/model/training/__pycache__
/model/structure/__pycache__
/model/structure/candidate/__pycache__
/model/results/checkpoints/
/model/results/checkpoints_v3/
/model/results/models/